
**/MemStache/MemStache/bin/
**/MemStache/MemStache/obj/
**.vs/
**MemStache/.vs/
**MemStache/Lib.MemStache.WebAPI/obj
**MemStache/Lib.MemStache.WebAPI/bin
**MemStache/MemStache.UnitTests/bin/
.vs/MemStache/v15/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
MemStache/.vs/MemStache/DesignTimeBuild/.dtbcache
MemStache/.vs/MemStache/v15/.suo
MemStache/.vs/MemStache/v15/Server/sqlite3/db.lock
MemStache/.vs/MemStache/v15/Server/sqlite3/storage.ide
MemStache/.vs/MemStache/v15/Server/sqlite3/storage.ide-shm
MemStache/.vs/MemStache/v15/Server/sqlite3/storage.ide-wal
MemStache/MemStache/bin/Debug/netstandard2.0/MemStache.deps.json
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.AssemblyInfo.cs
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.AssemblyInfoInputs.cache
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.assets.cache
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.csproj.CoreCompileInputs.cache
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.csproj.FileListAbsolute.txt
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.csprojAssemblyReference.cache
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.dll
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.pdb
MemStache/MemStache/obj/MemStache.csproj.nuget.cache
MemStache/MemStache/obj/MemStache.csproj.nuget.g.props
MemStache/MemStache/obj/MemStache.csproj.nuget.g.targets
MemStache/MemStache/obj/project.assets.json
MemStache/.vs/MemStache/DesignTimeBuild/.dtbcache.v2
MemStache/.vs/MemStache/v17/.futdcache.v1
MemStache/.vs/MemStache/v17/.suo
MemStache/Lib.MemStache.WebAPI/obj/Debug/net6.0/Lib.MemStache.WebAPI.csproj.AssemblyReference.cache
MemStache/MemStache.CLI/obj/Debug/net6.0/MemStache.CLI.csproj.AssemblyReference.cache
MemStache/MemStache.NUnit.BDD.Tests/obj/MemStache.NUnit.BDD.Tests.csproj.nuget.dgspec.json
MemStache/MemStache.NUnit.BDD.Tests/obj/MemStache.NUnit.BDD.Tests.csproj.nuget.g.props
MemStache/MemStache.NUnit.BDD.Tests/obj/MemStache.NUnit.BDD.Tests.csproj.nuget.g.targets
MemStache/MemStache.NUnit.BDD.Tests/obj/project.assets.json
MemStache/MemStache.NUnit.BDD.Tests/obj/project.nuget.cache
MemStache/MemStache.UnitTests/bin/Debug/net6.0/MemStache.dll
MemStache/MemStache.UnitTests/bin/Debug/net6.0/MemStache.pdb
MemStache/MemStache.UnitTests/bin/Debug/net6.0/MemStache.UnitTests.dll
MemStache/MemStache.UnitTests/bin/Debug/net6.0/MemStache.UnitTests.pdb
MemStache/MemStache.UnitTests/obj/Debug/net6.0/MemStache.UnitTests.csproj.AssemblyReference.cache
MemStache/MemStache.UnitTests/obj/Debug/net6.0/MemStache.UnitTests.dll
MemStache/MemStache.UnitTests/obj/Debug/net6.0/MemStache.UnitTests.pdb
MemStache/MemStache.UnitTests/obj/Debug/netcoreapp2.1/MemStache.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
MemStache/MemStache.UnitTests/obj/project.assets.json
MemStache/MemStache/bin/Debug/MemStache.1.0.0.3.nupkg
MemStache/MemStache/obj/Debug/net6.0/MemStache.csproj.AssemblyReference.cache
MemStache/MemStache/obj/Debug/netstandard2.0/MemStache.csproj.AssemblyReference.cache
